.flex {
    display: flex;
}

.contactList {
    gap: 15px;
}

.contactItem {
    width: calc((100% / 4) - (3*15px));
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    justify-content: space-between;
}

.icon {
    padding-right: 10px;
}